---
/* eslint-disable-next-line import/no-unresolved */
import { getCollection } from "astro:content";
import { PaperLink } from "@cieloazul310/astro-sarkara";
import { vstack } from "@cieloazul310/sarkara-css/patterns";
import { usePostYears } from "../utils";

const allPosts = await getCollection("posts");
const years = usePostYears(allPosts);
---

<nav class={vstack({ gap: 1, alignItems: "stretch" })}>
  {years.map((year) => <PaperLink href={`/posts/${year}`}>{year}年</PaperLink>)}
</nav>
