---
import { Link, Paper } from "@cieloazul310/astro-sarkara";
import { cx, css } from "../../styled-system/css";
import { paper } from "../../styled-system/patterns";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Paper>
      <main
        class={cx(
          css({ colorPalette: "primary" }),
          paper({ maxWidth: "600px" }),
        )}
      >
        <slot />
      </main>
      <footer>
        <Link href="https://cieloazul310.github.io">水戸地図</Link>
      </footer>
    </Paper>
  </body>
</html>
