---
import { Link, Paper, SarkaraLayout } from "@cieloazul310/astro-sarkara";
import { cx, css } from "@cieloazul310/sarkara-css/css";
import { paper } from "@cieloazul310/sarkara-css/patterns";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <SarkaraLayout siteTitle="Sarkara" siteDescription="Sarkara">
    <Paper>
      <main
        class={cx(
          css({ colorPalette: "primary" }),
          paper(),
        )}
      >
        <slot />
      </main>
    </Paper>
    <Paper colorPalette="secondary">
      <Link href="https://cieloazul310.github.io">水戸地図</Link>
    </Paper>
    </SarkaraLayout>
  </body>
</html>
