---
import { css } from "../../styled-system/css";
---
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div>
      <main class={css({ maxWidth: "600px", bg: "primary.50" })}>
        <slot />
      </main>
    </div>
  </body>
</html>